body
{
    background-color: darkgoldenrod;
}

.small
{
    
    width: 25%;
    box-sizing: border-box;
    border: solid #fff;
    text-align: center;
    position: relative;
   overflow: hidden; 
    transition:  background-color 0.5s;
    float: left;

}
.small img
{
    width: 100%;
}
.boss p
{
    padding: 15px 20px;
    position: relative;
    left: 150%;
    top: 0px;
    transition: left 1s;
    transition-delay: 2.5s;
}
.boss h2
{
    background-color: rgba(0,0, 0, 0.8);
    margin: 0px;
    padding: 15px 0px;
    position: relative;
    left: 150%;
    top: 0px;
    transition: left 1s;
    transition-delay: 2s;

}
.boss
{
  
  
   position: absolute;
   top: 0;
   left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0, 0, 0.5);
    color: rgb(240, 230, 230);
    opacity: 0;
    transition:opacity 1s,transform 1s;
}
.pic
{
    transition:  transform 1s;
    transition-delay: 1s;
}
.small:hover .boss
{
    opacity: 1;
    transform: rotate(360deg);
}
.small:hover .pic
{
    transform: scale(1.07);
}

.small:hover h2 ,.small:hover p
{
    left: 0px;
}
